

.parallax-container {
  line-height: 0;
  height: 200px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.collection a.collection-item {
  color: #17246f;
}

.list {
  margin: 0px 0px 5px 15px;
}

input.company,
input.edit {
  width: 200px;
}

input.company {
  margin-left: 15px;
}
a.add {
  margin: 10px;
}
